@import "variables";

:host {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $grid-gap;
  padding-top: 1.5rem;

  a {
    background-color: $ghost-white;

    &:hover {
      color: unset;
      box-shadow: 0 0 1.25rem 0 rgba($black, .15);
    }

    figure {
      padding: 1.5rem;

      img {
        width: 100%;
        margin-bottom: 1rem;
      }

      figcaption {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
      }

    }

  }

}
