<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/production-door-hinges.png'" [alt]="'Дверные ручки'">
    <figcaption>Дверные ручки</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/production-door-hinges.png'" [alt]="'Замки защёлки'">
    <figcaption>Замки защёлки</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/production-door-hinges.png'" [alt]="'Скобяные изделия'">
    <figcaption>Скобяные изделия</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/production-door-hinges.png'" [alt]="'Петли'">
    <figcaption>Петли</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/production-door-hinges.png'" [alt]="'Раздвижные системы'">
    <figcaption>Раздвижные системы</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/roller-guides.png'" [alt]="'Скрытые петли'">
    <figcaption>Скрытые петли</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/roller-guides.png'" [alt]="'Инженерные системы д/ деревянных дверей'">
    <figcaption>Инженерные системы д/ деревянных дверей</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/roller-guides.png'" [alt]="'Раздвижные системы д/ деревянных дверей'">
    <figcaption>Раздвижные системы д/ деревянных дверей</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/roller-guides.png'" [alt]="'Раздвижные системы д/ стеклянных дверей'">
    <figcaption>Раздвижные системы д/ стеклянных дверей</figcaption>

  </figure>
</a>

<a href routerLink="/">
  <figure>

    <img [src]="'assets/dev/roller-guides.png'" [alt]="'Алюминевые системы'">
    <figcaption>Алюминевые системы</figcaption>

  </figure>
</a>
