@import "variables";

:host {
  display: grid;
  grid-template: minmax(17rem, auto) / repeat(2, 1fr);
  grid-gap: 1.5rem;

  div {
    overflow: hidden;
    padding: 2.125rem 2.75rem;
    background-color: transparent;
    border: .125rem solid $ghost-white;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.375rem;
      font-weight: 400;
    }

    ul {
      padding-left: 1.25rem;

      &,
      li:last-child {
        margin-bottom: 0;
      }

      li {
        position: relative;
        margin-bottom: 1.125rem;
        font-size: .9375rem;
        font-weight: 300;
        list-style: none;

        &::before {
          content: "\2022";
          position: absolute;
          top: .5625rem;
          left: -1.3125rem;
          color: $orange;
          font-size: 1.6875rem;
          line-height: 0;
        }

        a:hover {
          color: $gray;
          text-decoration: underline;
        }

      }

    }

  }

}
