<div>

  <h2>Новые публикации в разделе знаний</h2>

  <ul>

    <li *ngFor="let link of new$ | async | slice:0:4">
      <a href [routerLink]="['/new', link.id]">{{ link.text }}</a>
    </li>

  </ul>

</div>

<div>

  <h2>Вы недавно смотрели</h2>

  <ul>

    <li *ngFor="let link of recent$ | async | slice:0:3">
      <a href [routerLink]="['/recent', link.id]">{{ link.text }}</a>
    </li>

  </ul>

</div>
