@import "variables";
@import "extends";

:host {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row-gap: 3rem;

  form.comment {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;
    grid-column: 2 / -2;

    img {
      align-self: center;
      min-width: 100%;
      max-width: 100%;
      grid-column: span 2;
      border-radius: 50%;
    }

    img + div {
      display: flex;
      flex-direction: column;
      grid-column: span 6;

      label {
        margin-bottom: .5rem;
        color: $dark-gray;
        font-size: 1.125rem;
      }

      input {
        margin-bottom: 2rem;
      }

      input,
      textarea {
        border: .1rem solid $silver;
      }

      textarea {
        flex: 1;
      }

    }

    div:last-child {
      grid-column: 3 / span 6;
      text-align: right;

      button {
        padding: .5rem 1.25rem;
        font-size: 1.125rem;

        &[type="button"] {
          @extend .button-link;
        }

        &[type="submit"] {
          @extend .button-accent;
          margin-left: 1.5rem;
          font-weight: 700;
        }

      }

    }

  }

  section {
    grid-column: 1 / -1;

    header {
      display: flex;
      align-items: center;
      height: 4rem;
      background-color: $snow;
      padding-left: 2.5rem;
      padding-right: 4.5rem;

      h3 {
        margin-bottom: 0;
        font-weight: 400;
      }

      h3,
      button {
        font-size: 1.125rem;
        color: $dark-gray;
      }

      button {
        @extend .button-reset;
        text-transform: lowercase;
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          width: .6875rem;
          height: 1rem;
          margin-right: .75rem;
          background: url('/assets/icons/comments-arrow-down.png') no-repeat;
        }

        &:first-of-type {
          margin-left: auto;
        }

        &:last-child {
          margin-left: 2.5rem;
        }

      }

    }

    hr {
      border-color: #e9e9e9;
    }

  }

}
