<form class="comment" novalidate [formGroup]="form" (ngSubmit)="submit(form)">

  <img src="assets/dev/comments-avatar.jpg" alt="Аватар пользователя">

  <div>
    <label>Заголовок</label>
    <input type="text" formControlName="heading">

    <label>Текст комментария</label>
    <textarea formControlName="message"></textarea>
  </div>

  <div>
    <button type="button" (click)="reset()">Отмена</button>
    <button type="submit" [disabled]="form.touched && form.invalid">Оставить комментарий</button>
  </div>

</form>

<section>

  <header>
    <h3>11 комментариев</h3>

    <button (click)="date()">По дате</button>
    <button (click)="popular()">По популярности</button>
  </header>

  <ng-container *ngFor="let comment of comments; index as i">
    <comment [comment]="comment"></comment>
    <hr *ngIf="i !== comments.length - 1">
  </ng-container>

</section>

