<h2>Собранные коллекции</h2>

<figure>

  <button (click)="open()">
    <img src="https://i.snag.gy/mPiw4N.jpg" alt="Живопись">
  </button>

  <figcaption>
    <button (click)="open()">Живопись</button>
  </figcaption>

</figure>

<figure>

  <button (click)="open()">
    <img src="https://i.snag.gy/mPiw4N.jpg" alt="Скульптура">
  </button>

  <figcaption>
    <button (click)="open()">Скульптура</button>
  </figcaption>

</figure>

<figure>

  <button (click)="open()">
    <img src="https://i.snag.gy/mPiw4N.jpg" alt="Посуда">
  </button>

  <figcaption>
    <button (click)="open()">Посуда</button>
  </figcaption>

</figure>

<figure>

  <button (click)="open()">
    <img src="https://i.snag.gy/mPiw4N.jpg" alt="Предметы интерьера">
  </button>

  <figcaption>
    <button (click)="open()">Предметы интерьера</button>
  </figcaption>

</figure>

<figure>

  <button (click)="open()">
    <img src="https://i.snag.gy/mPiw4N.jpg" alt="Предметы быта">
  </button>

  <figcaption>
    <button (click)="open()">Предметы быта</button>
  </figcaption>

</figure>

<collection-modal modal></collection-modal>
