@import "variables";
@import "extends";

:host {
  display: grid;
  grid-template: 8rem / repeat(5, 1fr);
  grid-gap: 2rem;
  padding-bottom: 1rem;

  h2 {
    grid-column: 1 / -1;
    align-self: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  figure {
    // display: table;

    button {
      @extend .button-reset;
      cursor: pointer;
    }

    & > button {
      margin-bottom: 1rem;

      img {
        max-width: 100%;
      }

    }

    figcaption {
      // display: table-caption;
      // caption-side: bottom;
      text-align: center;
      line-height: 1;

      button {
        font-size: 1.6rem;
      }

    }

  }

}
