@import "variables";
@import "extends";

:host {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: $grid-row-gap $grid-column-gap;
  counter-reset: counter;

  h1,
  p,
  section,
  ngx-carousel.carousel {
    grid-column: span 10;
  }

  h1 {
    margin-bottom: 0;
    font-size: 1.5625rem;

    &:before {
      counter-increment: counter;
      content: counter(counter) ".\0000a0";
    }

  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
  }

  figure {
    grid-area: span 3 / span 5;
    margin-bottom: 1rem;

    img {
      max-width: 100%;
      margin-bottom: 1.5rem;
    }

    figcaption {

      header {

        h2 {
          margin-bottom: 0;
          font-size: 1.5625rem;
        }

        span {
          display: inline-block;
          margin-bottom: 1rem;
          font-size: 1.25rem;
        }

      }

      footer p {
        font-size: 1.125rem;
        font-weight: 300;
        margin-bottom: 0;
      }

    }

  }

  figure + p,
  figure + p + p {
    grid-column: span 5;
  }

  & > p:last-of-type {
    margin-bottom: 2rem;
  }

  ngx-carousel.carousel {
    @extend .ngx-carousel;

    ::ng-deep div.ngxcarouselPointDefault ul.ngxcarouselPoint {
      bottom: 2.5rem;

      & li {
        width: .625rem;
        height: .625rem;
      }

    }

  }

}
