<h1>История создания</h1>

<p>
  Результатом работы наших дизайнеров являются различные предметы интерьера и, в частности, дверные ручки, что позволяет каждому человеку, приходя в свой дом, прикоснуться к высокому искусству. Пусть даже оно отражается в таком, казалось бы, незаметном предмете интерьера, как дверная ручка. Поскольку создание каждой модели вдохновлено творениями мастеров различных эпох и направлений.
</p>

<figure>

  <img src="assets/images/creation-adam.jpg" alt="Сотворение Адама">

  <figcaption>

    <header>
      <h2>La creazione do Adamo</h2>
      <span>Сотворение Адама</span>
    </header>

    <footer>
      <p>Микеланджело Буонарроти</p>
      <p>Sistine Chapel, Vatican</p>
    </footer>

  </figcaption>

</figure>

<p>
  Под мощным влиянием Микеланджело Рафаэль внес в римское искусство новое чувство величия и крепости. Самой знаменитой из настенных росписей в Ватиканском дворце, созданных Рафаэлем, стала «Афинская школа».
</p>

<p>
  В пространстве огромного зала предстает античное общество в одеяниях той эпохи. Здесь практически все великие мыслители античной эпохи: Аристотель и Платон в центре композиции обозначают своими жестами огромное значение своих взглядов и трудов, простирающихся ввысь и вглубь; Сократ, пересчитывающий свои аргументы на пальцах; Евклид, склонившийся над своими чертежами с циркулем; простертая на полу фигура Диогена с книгой; ученик Пифагора, заглядывающий к нему в книгу через плето. Все величие мысли и архитектурных форм античной эпохи, ее спокойный аристократизм и неброскость отражены в ручке — «Антик».
</p>

<h1>Подходящие стиль и интерьеры</h1>

<p>
  Результатом работы наших дизайнеров являются различные предметы интерьера и, в частности, дверные ручки, что позволяет каждому человеку, приходя в свой дом, прикоснуться к высокому искусству. Пусть даже оно отражается в таком, казалось бы, незаметном предмете интерьера, как дверная ручка. Поскольку создание каждой модели вдохновлено творениями мастеров различных эпох и направлений.
</p>

<ngx-carousel class="carousel" [inputs]="carousel">

  <button type="button" NgxCarouselPrev></button>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/interior.jpg" alt="Интерьер" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/interior.jpg" alt="Интерьер" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/interior.jpg" alt="Интерьер" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/interior.jpg" alt="Интерьер" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/interior.jpg" alt="Интерьер" [style.width.%]="100">
  </ngx-item>

  <button type="button" NgxCarouselNext></button>

</ngx-carousel>
