<div>

  <a href title="Morelli" routerLink="/" routerLinkActive [routerLinkActiveOptions]="{exact: true}" #root="routerLinkActive" [hidden]="root.isActive">
    <img src="assets/logo.svg" alt="Morelli">
  </a>

  <img src="assets/logo.svg" alt="Morelli" [hidden]="!root.isActive">

</div>

<nav>

  <div>

    <a href routerLink="/base">База знаний</a>

    <div>

      <div>

        <div>

          <span>Продукция</span>

          <svg width="6.418" height="11.418">
            <path d="M6.418 5.707L5.711 5l-.002.002L.707 0 0 .707l5.002 5.002L0 10.711l.707.707 5.002-5.002.002.002.707-.707-.002-.002z"/>
          </svg>

          <div>

            <div>

              <a href routerLink="/base">Дверные ручки</a>
              <a href routerLink="/base">Замки</a>
              <a href routerLink="/base">Петли</a>
              <a href routerLink="/base">Раздвижные системы</a>
              <a href routerLink="/base">Системы открывания</a>

            </div> <!-- shadow: box-shadow -->

          </div> <!-- /submenu: absolute, left padding -->

        </div> <!-- /menu item: relative -->

        <div>

          <span>Дизайн и искусство</span>

          <svg width="6.418" height="11.418">
            <path d="M6.418 5.707L5.711 5l-.002.002L.707 0 0 .707l5.002 5.002L0 10.711l.707.707 5.002-5.002.002.002.707-.707-.002-.002z"/>
          </svg>

          <div>

            <div>

              <a href routerLink="/base">Дизайн и искусство</a>

            </div> <!-- shadow: box-shadow -->

          </div> <!-- /submenu: absolute, left padding -->

        </div> <!-- /menu item: relative -->

        <div>

          <span>Книга Морелли</span>

          <svg width="6.418" height="11.418">
            <path d="M6.418 5.707L5.711 5l-.002.002L.707 0 0 .707l5.002 5.002L0 10.711l.707.707 5.002-5.002.002.002.707-.707-.002-.002z"/>
          </svg>

          <div>

            <div>

              <a href routerLink="/base/book/history">История бренда</a>

            </div> <!-- shadow: box-shadow -->

          </div> <!-- /submenu: absolute, left padding -->

        </div> <!-- /menu item: relative -->

      </div> <!-- /shadow: box-shadow -->

    </div> <!-- /menu: absolute, top padding -->

  </div> <!-- /nav item: relative -->

  <div>

    <a href routerLink="/catalog">Каталог</a>

    <div>

      <div>

        <a href routerLink="/catalog/handle/Horizont-BGO">Дверные ручки</a>
        <a href routerLink="/catalog">Замки</a>
        <a href routerLink="/catalog/engineering/Horizont-BG17">Петли</a>
        <a href routerLink="/catalog">Раздвижные системы</a>
        <a href routerLink="/catalog">Системы открывания</a>

      </div> <!-- /shadow: box-shadow -->

    </div> <!-- /menu: relative, top padding -->

  </div> <!-- /nav item: absolute -->

  <ng-template [ngIf]="logged">

    <a href routerLink="/plan">План обучения</a>
    <a href routerLink="/game">Игра</a>

  </ng-template>

</nav>

<nav>

  <ng-template #login>

    <a href routerLink="/login" routerLinkActive [routerLinkActiveOptions]="{exact: true}" #link="routerLinkActive" [hidden]="link.isActive">Войти</a>

  </ng-template>

  <ng-container *ngIf="logged; else login">

    <a href title="Профиль" [routerLink]="['/user', name]">
      <img [src]="avatar" [alt]="name">
    </a>

    <div>

      <div>
        <a href title="Профиль" [routerLink]="['/user', name]">{{ name }}</a>
        <span>{{ score }}</span>
      </div>

      <div>
        <div>
          <div [style.width.%]="bar" [attr.data-progress]="progress"></div>
        </div>
        <span>{{ total }}</span>
      </div>

    </div>

    <button type="button" title="Уведомления">

      <svg width="20.031" height="23.441">
        <path d="M20.015 17.463a7.548 7.548 0 0 1-.816-.78c-1.543-1.728-1.629-3.099-1.746-4.997-.037-.571-.074-1.162-.152-1.812-.393-3.249-2.705-5.086-4.635-5.94a2.87 2.87 0 0 0 .193-1.018A2.92 2.92 0 0 0 9.943 0a2.92 2.92 0 0 0-2.917 2.917c0 .379.078.739.21 1.071-1.903.879-4.125 2.708-4.51 5.887a29.4 29.4 0 0 0-.151 1.812c-.119 1.898-.205 3.27-1.748 4.997-.28.313-.553.562-.817.78H0v2h20.031v-2h-.016zM9.943 2a.917.917 0 1 1-.001 1.833A.917.917 0 0 1 9.943 2zM3.138 17.463h-.375c1.562-2.01 1.691-3.786 1.808-5.653.034-.542.069-1.104.141-1.695.357-2.951 2.826-4.149 4.008-4.56.374.174.785.278 1.224.278.46 0 .889-.116 1.276-.308 1.141.379 3.729 1.561 4.097 4.589.07.592.105 1.153.141 1.695.115 1.867.246 3.644 1.807 5.653H3.138zm6.877 3.978a1.672 1.672 0 0 1-1.556-1.07H6.403a3.671 3.671 0 0 0 3.612 3.07c1.818 0 3.322-1.333 3.613-3.07h-2.057a1.669 1.669 0 0 1-1.556 1.07z"/>
      </svg>

      <span *ngIf="notifications">{{ notifications }}</span>

    </button>

    <div>

      <button type="button" title="Настройки" #settings>

        <svg width="21.84" height="21.709">
          <path d="M21.336 8.961l-1.241-.709a6.477 6.477 0 0 0-.22-.666l.587-1.307.238-.53-.342-.469-1.21-1.66-.342-.467-.575.063-1.433.156a6.325 6.325 0 0 0-.566-.409l-.294-1.407-.118-.569-.553-.179-1.95-.63-.55-.178-.428.388-1.069.969a6.413 6.413 0 0 0-.707 0L9.504.391 9.075 0l-.553.178-1.95.63-.552.179-.119.569-.293 1.403c-.198.127-.381.26-.568.411l-1.432-.155-.575-.062-.342.467-1.21 1.66-.341.469.238.531.586 1.305a6.304 6.304 0 0 0-.216.665l-1.244.711L0 9.25v3.209l.504.289 1.242.709c.059.223.131.439.219.666l-.587 1.307-.238.529.342.469 1.21 1.66.341.469.575-.063 1.419-.154c.184.148.382.291.585.422l.29 1.391.118.568.553.18 1.95.631.55.178.429-.389 1.069-.969c.236.014.463.014.699 0l1.069.969.429.389.55-.178 1.95-.631.553-.18.118-.568.293-1.402a6.02 6.02 0 0 0 .568-.412l1.433.156.575.063.341-.469 1.21-1.66.342-.469-.238-.529-.586-1.305c.084-.217.154-.434.216-.666l1.244-.711.504-.289V9.25l-.505-.289zm-2.602 2.971l-.404.23-.083.459a4.333 4.333 0 0 1-.352 1.082l-.212.424.194.434.521 1.158-.527.725-1.274-.139-.466-.051-.337.326a4.186 4.186 0 0 1-.911.66l-.425.217-.098.469-.261 1.25-.849.275-.951-.863-.344-.313-.461.063a4.532 4.532 0 0 1-1.152 0l-.461-.063-.344.313-.951.863-.849-.275-.261-1.25-.095-.457-.41-.221a4.717 4.717 0 0 1-.93-.668l-.337-.326-.465.051-1.274.139-.525-.725.521-1.158.189-.422-.198-.418a4.28 4.28 0 0 1-.356-1.078l-.075-.475-.416-.236L2 11.299v-.889l1.105-.633.404-.23.083-.459c.067-.369.202-.783.351-1.08l.213-.426-.194-.433-.522-1.16.527-.723 1.273.139.467.051.338-.328c.256-.248.612-.506.908-.656l.427-.219.098-.469.261-1.25.846-.274.941.858.345.316.463-.063a4.611 4.611 0 0 1 1.162 0l.461.063.344-.313.951-.862.849.274.261 1.25.095.457.412.221c.323.174.688.436.926.666l.338.328.467-.051 1.273-.139.527.723-.521 1.16-.189.424.199.418c.17.355.306.77.355 1.076l.075.475.416.236 1.105.633v.889l-1.106.633z"/>
          <path d="M19.84 10.411l-1.105-.633-.416-.236-.075-.475a4.373 4.373 0 0 0-.355-1.076l-.199-.418.189-.424.521-1.16-.527-.723-1.273.139-.467.051-.338-.328a4.576 4.576 0 0 0-.926-.666l-.412-.221-.095-.457-.261-1.25-.849-.274-.951.862-.344.313-.461-.063a4.611 4.611 0 0 0-1.162 0l-.463.062-.345-.316-.941-.858-.846.273-.261 1.25-.097.469-.427.219c-.296.15-.652.408-.908.656l-.338.329-.467-.051-1.273-.139-.528.723.521 1.16.194.434-.212.425a4.344 4.344 0 0 0-.35 1.08l-.083.459-.404.23L2 10.411v.889l1.105.633.416.236.075.475c.049.307.186.719.356 1.078l.198.418-.189.422-.521 1.157.527.725 1.274-.139.465-.051.337.326c.233.225.615.5.93.668l.41.221.095.457.261 1.25.849.275.951-.863.344-.313.461.063c.35.049.802.049 1.152 0l.461-.063.344.313.951.863.849-.275.261-1.25.098-.469.425-.217c.297-.152.654-.412.911-.66l.337-.326.466.051 1.274.139.527-.725-.521-1.158-.194-.434.212-.424c.149-.299.284-.715.352-1.082l.083-.459.404-.23 1.105-.633v-.888z"/>
          <path d="M12.462 10.854c0 .851-.691 1.543-1.542 1.543a1.542 1.542 0 1 1 1.542-1.543zM10.92 7.313a3.546 3.546 0 0 0-3.541 3.541 3.547 3.547 0 0 0 3.541 3.543 3.547 3.547 0 0 0 3.542-3.543 3.546 3.546 0 0 0-3.542-3.541z"/>
        </svg>

      </button>

      <div [hidden]="!dropdown">

        <a href routerLink="/settings">Настройки</a>

        <button type="button" (click)="logout()">Выйти</button>

      </div>

    </div>

  </ng-container>

  <a href title="Поиск" routerLink="/search">

    <svg width="21.968" height="22.028">
      <path d="M13.51 0C8.846 0 5.051 3.794 5.051 8.458c0 1.754.538 3.385 1.456 4.737L.483 19.218A1.639 1.639 0 0 0 0 20.383a1.645 1.645 0 0 0 2.809 1.164l6.039-6.038a8.4 8.4 0 0 0 4.662 1.407c4.664 0 8.458-3.794 8.458-8.458S18.174 0 13.51 0zm0 14.917a6.405 6.405 0 0 1-3.208-.86 6.498 6.498 0 0 1-3.25-5.598A6.465 6.465 0 0 1 13.51 2a6.465 6.465 0 0 1 6.458 6.458 6.467 6.467 0 0 1-6.458 6.459z"/>
    </svg>

  </a>

</nav>
