@import "variables";
@import "mixins";
@import "extends";

:host {
  @include container-responsive();
  display: grid;
  grid-template: 6.375rem / 1fr auto 1fr;
  grid-column-gap: .5rem;
  // display: flex;
  // height: 6.375rem;

  & > div,
  nav {
    display: flex;
    align-items: center;
  }

  & > div {
    padding-left: .8125rem;

    a img {
      display: block;
    }

  }

  // nav {
  //   flex: 1;
  // }

  div + nav {
    justify-content: flex-start;
    order: -1;
    padding-left: 1.5rem;

    & > div,
    & > a {
      margin: 0 1.25rem;
    }

    a,
    span {
      white-space: nowrap;
    }

    & > div {

      &:hover {
        position: relative;
        padding-right: 1.25rem;
        margin-right: 0;

        & > div {
          position: absolute;
          z-index: $zindex-dropdown;
          display: block;
          min-width: 11.25rem;
          padding-top: .75rem;

          & > div {
            border-radius: $border-radius;
            box-shadow: $dropdown-box-shadow;
          }

        }

      }

      & > a {

        &::after {
          content: "";
          display: inline-block;
          width: .6064375rem;
          height: .391625rem;
          margin-bottom: .0625rem;
          margin-left: .5rem;
          background: url("/assets/icons/dropdown-arrow.svg") no-repeat;
        }

      }

      & > div {
        display: none;

        & > div > div {
          justify-content: space-between;
          cursor: pointer;

          &:hover {
            position: relative;

            & > div {
              position: absolute;
              top: 0%;
              left: 100%;
              z-index: $zindex-dropdown;
              display: block;
              min-width: 11.25rem;
              padding-left: .75rem;

              & > div {
                border-radius: $border-radius;
                box-shadow: $dropdown-box-shadow;
              }

            }

            svg path {
              fill: $white;
              transition: $transition-base;
              transition-property: fill;
            }

          }

          svg path {
            fill: #a9a9a9;
          }

          & > div {
            display: none;
          }

        }

        & > div > div,
        a {
          position: relative;
          display: flex;
          align-items: center;
          padding: .75rem;
          padding-left: 1.25rem;
          padding-right: 1rem;
          background-color: #f4f4f4;
          font-size: $font-size-sm;
          transition: $transition-base;
          transition-property: background-color, color, border-color;

          &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          &:hover {
            background-color: $orange;
            color: $white;

            &,
            & + div,
            & + a {
              border-color: $orange;
            }

          }

          & + div,
          & + a {
            border-top: 1px solid #e6e6e6;
          }

        }

      }

      a {
        text-decoration: none;
      }

    }

  }

  nav {

    & > div,
    & > a {
      font-size: .75rem;

      &:first-child {
        margin-left: 0 !important;
      }

      &:last-child {
        margin-right: 0 !important;
      }

    }

    & > div > a,
    & > a {
      font-weight: 700;
      text-transform: uppercase;
    }

  }

  nav + nav {
    justify-content: flex-end;
    padding-right: 1.5rem;

    & > a + div {
      display: flex;
      flex-direction: column;
      width: 12.5rem;
      margin-left: .4375rem;
      margin-right: 2.5rem;

      & > div:first-child {
        align-items: flex-end;
        margin-bottom: .5rem;
        line-height: 1;

        a {
          margin-right: .46875rem;
        }

        a,
        span {
          font-size: .9375rem;
          font-weight: 300;
        }

        span {
          margin-left: .46875rem;
          font-size: .75rem;
          font-weight: normal;

          &::before {
            content: "";
            display: inline-block;
            width: 1.1875rem;
            height: 1.1875rem;
            margin-right: .375rem;
            background: url("/assets/icons/navbar-coin.png") no-repeat;
            vertical-align: text-bottom;
          }

        }

      }

      div:first-child,
      div + div {
        display: flex;
      }

      div + div {
        align-items: baseline;

        & > div {
          width: 10.375rem;
          margin-right: .1875rem;
          margin-bottom: .4375rem + 1.25rem;
          background-color: $white-smoke;
          box-shadow: 0 .125rem .3125rem #d9d9d9 inset;

          &,
          div {
            height: .5rem;
            border-radius: .5rem;
          }

          div {
            position: relative;
            background-color: $orange;
            background-image: repeating-linear-gradient(
              -45deg,
              transparent,
              transparent .09375rem,
              rgba(255, 255, 255, .4) .09375rem,
              rgba(255, 255, 255, .4) .21825rem
            ); // 0 1.5px 1.5px 2.25px
            background-size: 1.875rem 1.875rem; // 30px 30px

            &::before {
              @extend .triangle-top;
              top: .5rem + .4375rem;
              left: auto;
              transform: translate(50%, -100%);
            }

            &::before,
            &::after {
              right: 0;
            }

            &::after {
              content: attr(data-progress);
              position: absolute;
              top: .5rem + .4375rem;
              transform: translate(50%, 0%);
              height: 1.25rem;
              padding: 0 .5rem;
              background: $white-smoke;
              border-radius: $border-radius;
              font-size: .6875rem;
              line-height: 1.25rem;
            }

          }

          & + span {
            margin-left: .1875rem;
            font-size: .75rem;
            line-height: 1;
          }

        }

      }

    }

    & > button,
    & > div > button {
      position: relative;
      padding: 0;
      background: transparent;
      border: none;
      cursor: pointer;

      span {
        position: absolute;
        top: -.3125rem;
        left: .75rem;
        height: .9375rem;
        padding: 0 .275rem;
        border-radius: .5rem;
        background: $orange;
        color: $white;
        font-size: .75rem;
        font-weight: 700;
        line-height: .9375rem;
      }

    }

    & > button {
      margin: 0 1.125rem;
    }

    & > button,
    & > button + div,
    & > a:last-child {
      line-height: 0;
    }

    button,
    & > a:last-child {

      &:hover svg path {
        fill: $link-hover-color;
      }

      svg path {
        fill: #a9a9a9;

        &:nth-child(2) {
          fill: $white;
        }

      }

    }

    & > button + div,
    & > a {
      margin: 0 .75rem
    }

    button + div {
      position: relative;
      display: inline-block;

      div {
        position: absolute;
        top: 2rem;
        left: 50%;
        z-index: $zindex-dropdown;
        transform: translate(-50%, 0%);
        box-shadow: $dropdown-box-shadow;
        line-height: 1.5;
        text-align: center;

        // &::before {
        //   @extend .triangle-top;
        // }

        a,
        button {
          display: block;
          padding: .75rem;
          padding-left: 1.25rem;
          padding-right: 1rem;
          background-color: #f4f4f4;
          font-size: $font-size-sm;
          text-align: center;
          transition: $transition-base;
          transition-property: background-color, color, border-color;
          cursor: pointer;

          &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          &:hover {
            background-color: $orange;
            color: $white;

            & + button,
            & {
              border-color: $orange;
            }

          }

        }

        button {
          @extend .button-link;
          width: 100%;
          border-top: 1px solid #e6e6e6;
        }

      }

    }

    & > a {

      &:first-child {
        margin-right: .4375rem;

        & + a {
          margin-left: .75rem - .4375rem + .75rem;
        }

        img {
          width: 3rem;
          height: 3rem;
          padding: .1875rem;
          border: 1px solid #dadfe4;
          border-radius: 50%;
        }

      }

    }

  }

}
