<div>

  <h1>Настройка корабля</h1>

  <h2>Носовая фигура</h2>

  <img src="assets/dev/profile-modal-1.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-2.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-3.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-4.jpg" alt="Часть корябля">

  <h2>Якорь</h2>

  <img src="assets/dev/profile-modal-1.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-2.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-3.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-4.jpg" alt="Часть корябля">

  <h2>Форма флагов</h2>

  <img src="assets/dev/profile-modal-1.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-2.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-3.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-4.jpg" alt="Часть корябля">

  <h2>Боковая часть</h2>

  <img src="assets/dev/profile-modal-1.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-2.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-3.jpg" alt="Часть корябля">
  <img src="assets/dev/profile-modal-4.jpg" alt="Часть корябля">

  <dl>

    <dt>Количество матч</dt>
    <dd>

      <form class="masts">

        <input type="radio" id="mast-1" name="masts" value="1">
        <label for="mast-1">1</label>

        <input type="radio" id="mast-2" name="masts" value="2" checked>
        <label for="mast-2">2</label>

        <input type="radio" id="mast-3" name="masts" value="3">
        <label for="mast-3">3</label>

      </form>

    </dd>

    <dt>Рисунок паруса</dt>
    <dd>

      <form>
        <select>
          <option selected>Стандартный</option>
          <option>Атласный</option>
          <option>Сатин</option>
        </select>
      </form>

    </dd>

  </dl>

  <button type="button" #dismiss></button>

</div>
