@import "variables";
@import "extends";
@import "mixins";

:host {
  @include container();
  @extend .modal;

  div {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    grid-column: 3 / span 4;
    padding: 1.5rem 2rem 2rem;

    h1,
    h2,
    dl {
      grid-column: 1 / -1;
    }

    h1 {
      justify-self: center;
      margin-bottom: 0;
    }

    h1,
    h2,
    dt {
      font-size: 1.375rem;
    }

    h2 {
      margin-bottom: 0;
      font-weight: 400;
    }

    img {
      max-width: 100%;
      margin-bottom: 1rem;
      transition: $transition-base;

      &:hover {
        transform: scale(1.2);
      }

    }

    dl {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-row-gap: 1rem;
      margin-bottom: 0;

      dt {
        grid-column: span 5;
        font-weight: 400;
      }

      dd{
        display: flex;
        grid-column: span 3;
        align-items: center;
        margin-bottom: 0;

        form {
          display: flex;
          flex: 1;

          &.masts {
            justify-content: space-between;

            input[type="radio"] {
              display: none;

              &:checked + label {
                color: $white;
                background-color: $orange;
              }

            }

            label {
              flex: 1;
              max-width: 3rem;
              padding: .125rem 0;
              margin: 0 .625rem 0;
              background-color: $white;
              font-weight: 700;
              border-radius: $border-radius-lg;
              text-align: center;

              &:first-of-type {
                margin-left: 0;
              }

              &:last-of-type {
                margin-right: 0;
              }

            }

          }

          select {
            width: 100%;
          }

        }

      }

    }

    button {
      @extend .button-reset;
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 1.125rem;
      height: 1.125rem;
      background: url("/assets/icons/profile-modal-close.png") no-repeat;
      cursor: pointer;
    }

  }

}
