@import "variables";

:host {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: $grid-column-gap;

  player {
    grid-column: span 7;
    align-self: flex-start;
  }

  .instruction {
    grid-column: span 3;
    padding-top: 2rem;

    h3 {
      margin-bottom: 1.5rem;
      font-size: 1.375rem;
    }

    dl {
      padding-left: 1.75rem;
      margin-bottom: 0;

      dt {
        font-size: 1.25rem;
        color: $orange;

        &:first-child,
        &:last-of-type {

          &::after {
            height: 50% !important;
          }

        }

        &:last-of-type::after {
          top: 0;
        }

        &::before {
          top: .375rem;
          left: -.4375rem;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
        }


      }

      dt,
      dd {
        position: relative;
        padding-left: 1.25rem;

        &::before,
        &::after {
          content: '';
          position: absolute;
          display: inline-block;
          background-color: $orange;
        }

        &::after {
          bottom: 0;
          left: 0;
          width: .125rem;
          height: 100%;
        }

      }

      dd {
        margin-bottom: 0;
        padding-bottom: 2.25rem;
        // padding-bottom: .5rem;
        color: $dark-gray;
        font-size: 1.125rem;
        font-style: italic;

        &:last-child::after {
          content: none;
        }

      }

    }

  }

}
