<player [mp4]="instruction.video.mp4" [ogg]="instruction.video.mp4"></player>

<div class="instruction">

  <h3>Инструкция по установке</h3>

  <dl>

    <ng-container *ngFor="let step of instruction.steps as steps; index as i" >
      <dt>Шаг {{ i + 1 }}</dt>
      <dd>{{ step }}</dd>
    </ng-container>

  </dl>

</div>
