@import "variables";
@import "mixins";
@import "extends";

:host {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding-bottom: 8.1875rem;

  h1 {
    margin-bottom: 0;
    font-weight: 300;
  }

  p {
    margin-bottom: 3.5rem;
    font-size: 1.125rem;
    font-weight: 300;
  }

  & > div {
    padding: 3rem;
    background-color: $white;
    border-radius: $border-radius-lg;
    box-shadow: 1px 1px 40px -7px #dedede,
                -1px -1px 40px -7px #dedede;
    text-align: center;


    form {
      display: flex;
      flex-direction: column;

      &,
      label input {
        margin-bottom: 1.5rem;
      }

      label {
        margin-bottom: 0;

        input {
          width: 13rem;
          height: 2.5rem;
          background-color: $input-bg;
          font-size: $font-size-sm;
          font-weight: 300;
          border: .0625rem solid $input-border-color;
          border-top-color: $input-border-top-color;
          border-radius: $border-radius;
          text-align: center;

          &:active,
          &:focus {
            border: .0625rem solid $input-focus-border-color;
          }

          &.ng-touched {

            &.ng-valid {

              &:focus {
                border-color: $input-focus-border-color !important;
              }

            }

            &.ng-invalid {
              margin-bottom: 0;
              border: .0625rem solid $input-invalid-border-color !important;
            }

          }

        }

      }

      div {
        position: relative;

        &.error label input,
        label input.ng-touched.ng-invalid {
          margin-bottom: 0;
        }

        // label input {
        //   padding-right: .5rem + 1.383125rem + .5rem;
        //   text-indent: .5rem + 1.383125rem + .5rem;
        // }

        button[type="button"] {
          @extend .button-reset;
          position: absolute;
          top: calc(2.5rem / 2);
          right: .5rem;
          transform: translateY(-50%);
          cursor: pointer;

          svg {
            display: block;

            path {
              fill: #cdcdcd;
            }

          }

          &:hover svg path {
              fill: #b2b2b2;
          }

        }

      }

      small {
        margin: .1875rem 0;
        color: $invalid;
      }

      button[type="submit"] {
        @extend .button-accent;
        align-self: center;
        height: 2.5rem;
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
        font-weight: 700;
        font-size: $font-size-sm;
        text-transform: uppercase;

        &:hover {
          background-color: $button-hover-bg;
        }

        &:active {
          background-color: $button-active-bg;
        }

      }

    }

    a {
      font-size: $font-size-sm;
      font-weight: 300;
    }

  }

}
