<h1>Добро пожаловать!</h1>

<p>Войдите в систему для доступа ко всем функциям.</p>

<div>

  <form novalidate [formGroup]="form" (ngSubmit)="submit(form)" (input)="reset()">

    <label><input type="text" placeholder="Логин" formControlName="login" (blur)="reset()"></label>

    <small *ngIf="form.get('login').touched && form.get('login').hasError('required')">Логин обязателен</small>

    <small *ngIf="form.get('login').touched && form.get('login').hasError('pattern')">

      <mark>a-z</mark> <mark>A-Z</mark> <mark>0&ndash;9</mark> <mark>_ &nbsp; -</mark> <mark>@mail.com</mark>

    </small>

    <!-- {{ form.controls.login?.errors | json }} -->

    <div [class.error]="error">

      <label><input [type]="type" placeholder="Пароль" formControlName="password" (blur)="reset()"></label>

      <button type="button" [ngSwitch]="type" (click)="toggle()">

        <svg width="22.127" height="14.125" *ngSwitchCase="'password'">
          <path d="M11.106 0C4.993 0 .349 6.36.304 6.422l-.298.436c-.043.072.146.562.146.562l.049.127.081.109c.195.266 4.855 6.469 10.825 6.469 5.69 0 11.005-6.051 11.021-7.049C22.112 6.051 16.797 0 11.106 0zm0 12.125c-4.018 0-7.531-3.654-8.754-5.088C3.603 5.536 7.193 2 11.106 2c3.943 0 7.547 3.577 8.776 5.063-1.229 1.486-4.836 5.062-8.776 5.062z"/>
          <path d="M12.888 7.063c0 .982-.799 1.781-1.781 1.781s-1.782-.799-1.782-1.781.799-1.782 1.781-1.782 1.782.8 1.782 1.782zm-1.782-3.782a3.785 3.785 0 0 0-3.781 3.782 3.786 3.786 0 0 0 3.781 3.781 3.787 3.787 0 0 0 3.782-3.781 3.787 3.787 0 0 0-3.782-3.782z"/>
        </svg>

        <svg width="22.128" height="15.993" *ngSwitchCase="'text'">
          <path d="M4.469 12.157l.499-.498.368-.369.147-.146A19.413 19.413 0 0 1 2.352 8.21c1.25-1.5 4.842-5.037 8.754-5.037.694 0 1.378.115 2.04.307l.191-.191.367-.368.498-.499.498-.497c-1.147-.456-2.361-.751-3.596-.751C4.991 1.174.346 7.533.302 7.597l-.295.433c-.043.072.146.564.146.564l.049.127.081.109c.105.143 1.537 2.04 3.772 3.74l.414-.413z"/>
          <path d="M7.325 8.235c0 .324.055.635.131.934l.229-.229 1.533-1.531.238-.239 1.532-1.533.426-.426.626-.627a3.728 3.728 0 0 0-.935-.131 3.787 3.787 0 0 0-3.78 3.782zm2.668 3.24c.299.076.609.131.934.131a3.786 3.786 0 0 0 3.781-3.781c0-.324-.056-.635-.131-.934l-.627.627-.427.426-.685.684c.002-.008.007-.014.009-.021l-.937.938-.432.433.02-.008-1.276 1.276-.229.229z"/>
          <path d="M17.815 3.639l-.108.109v.001l-.56.559-.763.762a17.968 17.968 0 0 1 3.5 3.165c-1.23 1.486-4.838 5.063-8.777 5.063-.86 0-1.691-.182-2.488-.461l-.821.822h-.002l-.047.047-.634.633-.043.043c1.239.554 2.597.916 4.034.916 5.69 0 11.007-6.051 11.021-7.046-.006-.589-1.756-2.813-4.312-4.613zm-9.597 8.598l.494-.494.084-.084h.001l.699-.699.982-.981.431-.433.939-.938.135-.135 1.435-1.434.196-.197 1.093-1.091v-.003l.123-.124.555-.554.764-.763.559-.559.109-.109.571-.571.067-.068.146-.146 1.146-1.146A.999.999 0 1 0 17.333.294l-1.295 1.295-.06.06-.007.006-.014.014-.258.257-.498.497-.494.497-.369.368-.19.191-.28.281-.478.477-.124.124-.225.224-.627.627-.426.426-1.532 1.532-.238.238L8.685 8.94l-.229.228-.196.198-.851.852-.124.122-.477.477-.325.326-.147.147-.368.369-.499.498-.414.414-.34.34-.014.014-.006.009-.06.06-1.295 1.294a.999.999 0 1 0 1.414 1.414l1.292-1.293.025-.025.043-.043.634-.633.047-.047h.001l.821-.822.601-.602z"/>
        </svg>

      </button>

    </div>


    <small *ngIf="form.get('password').touched && form.get('password').hasError('required') || form.get('password').touched && form.get('password').hasError('minlength')">Минимум 4 символа</small>

    <!-- {{ form.get('password').errors | json }} -->

    <small *ngIf="error">{{ error }}</small>

    <button type="submit" [disabled]="form.touched && form.invalid">Войти</button>

    <!-- {{ form.value | json }} {{ form.valid | json }} -->

  </form>

  <a href routerLink="/reset">Напомнить пароль</a>

</div>

