.triangle-top {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 0;
  height: 0;
  border-width: .25rem;
  border-style: solid;
  border-color: transparent transparent #f4f4f4 transparent;
}

.button-transparent {
  background-color: unset;
  color: $gray;
  border-radius: unset;
  text-transform: unset;
  font-weight: unset;
}

.button-reset {
  @extend .button-transparent;
  padding: 0;
}

.button-accent {
  background-color: $button-bg;
  color: $white;
  border-radius: $border-radius;
}

.button-link {
  @extend .button-transparent;

  &:hover {
    color: $orange;
  }

}

.shadow-box {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  border-radius: $border-radius-xl;
  box-shadow: 0px -4px 20px -7px #dedede,
              0px 5px 25px -5px #dedede;
}

.ngx-carousel {

  button {
    @extend .button-reset;
    position: absolute;
    padding: 0;
    margin: auto;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 1.75rem;
    height: 1.75rem;
    background-color: $white;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 .5rem 0 rgba($black, .35);

    &:first-of-type {
      background-image: url("/assets/icons/carousel-arrow-left.png");
      background-position: 47.5% 50%;
    }

    &:last-of-type {
      left: auto;
      right: 1rem;
      background-image: url("/assets/icons/carousel-arrow-right.png");
      background-position: 52.5% 50%;
    }

  }

  ::ng-deep div.ngxcarouselPointDefault ul.ngxcarouselPoint {
    overflow: auto;
    position: absolute;
    width: 100%;
    bottom: 4rem;
    left: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;

    & li {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      padding: 0;
      margin: 0 .5rem;
      background: transparent;
      border: .125rem solid $white;
      border-radius: 50%;
      transition: .4s ease all;

      &:first-child {
        margin-left: 0;
      }

      &:last-right {
        margin-right: 0;
      }

      &.active {
        background: $white;
        transform: none;
      }

    }

  }

}

.modal {
  z-index: $zindex-modal;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $grid-column-gap;
  align-items: center;
  // padding-right: 17px;
  opacity: 0;
  transition: $transition-fade;

  &.visibility {
    opacity: 1;

    div {
      transform: translate(0, 0);
    }

  }

  div {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: $grid-row-gap $grid-column-gap;
    margin: 5rem 0;
    transition: $modal-transition;
    transform: translate(0, -25%);
    background-color: $snow;
  }

}
