@mixin container() {
  width: 100%;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-right: auto;
  margin-left: auto;
}

@mixin container-responsive() {
  @include container();

  // @media (min-width: $breakpoint-sm) {
  //   max-width: $max-width-sm;
  // }

  // @media (min-width: $breakpoint-md) {
  //   max-width: $max-width-md;
  // }

  // @media (min-width: $breakpoint-lg) {
  //   max-width: $max-width-md;
  // }

  @media (min-width: $breakpoint-xl) {
    max-width: $max-width-xl;
  }

}

@mixin container-shadow {
  @include container();
  padding-left: $container-padding - 2rem;
  padding-right: $container-padding - 2rem;
}

@mixin container-shadow-content() {
  @include container-shadow();
  padding-left: 2rem;
  padding-right: 2rem;

  // @media (min-width: $breakpoint-sm) {
  //   max-width: $max-width-sm;
  // }

  // @media (min-width: $breakpoint-md) {
  //   max-width: $max-width-md;
  // }

  // @media (min-width: $breakpoint-lg) {
  //   max-width: $max-width-md;
  // }

  @media (min-width: $breakpoint-xl) {
    max-width: $max-width-xl;
  }

}
