$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1440px;

$container-padding: 4rem;

$grid-row-gap: 1rem;
$grid-column-gap: 2rem;
$grid-gap: $grid-column-gap;

$white: #fff;
$snow: #f9f9f9;
$ghost-white: #f1f1f2;
$white-smoke: #efefef;
$silver: #c6c6c6;
$nobel: #9a9a9a;
$gray: #535353;
$dark-gray: #666;
$orange: #f36421;
$black: #000;

$body-bg: $white;
$body-color: $gray;

$muted: $nobel;
$invalid: #ff0000;

$focus-outline: none;

$link-color: $gray;
$link-hover-color: $orange;
$link-hover-decoration: none;

$input-bg: $white-smoke;
$input-color: $gray;
$input-border-color: $input-bg;
$input-border-top-color: #dedede;

$input-focus-border-color: #d3d3d3;

$input-invalid-border-color: #ff5a5a;

$button-bg: $orange;
$button-hover-bg: #ff6d24;
$button-active-bg: #e35919;

$border-radius: .25rem;
$border-radius-sm: .2rem;
$border-radius-lg: .4rem;
$border-radius-xl: 1.2rem;

$transition-base: all .2s ease-in-out;
$transition-fade: opacity .15s linear;
$transition-collapse: height .35s ease;
$modal-transition: transform .3s ease-out;

$fonts-path: "assets/fonts";
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family: ProximaNova, $font-family-sans-serif;

$font-size: 1rem;
$font-size-lg: $font-size * 1.25;
$font-size-sm: $font-size * .875;

$h1-font-size: $font-size * 2.5;
$h2-font-size: $font-size * 2;
$h3-font-size: $font-size * 1.75;
$h4-font-size: $font-size * 1.5;
$h5-font-size: $font-size * 1.25;
$h6-font-size: $font-size;

$small-font-size: 75%;

$mark-padding: 0 .2rem;
$mark-bg: #fcf8e3;

$kbd-box-shadow: inset 0 -.1rem 0 rgba($black, .25);
$progress-box-shadow: inset 0 .1rem .1rem rgba($black, .1);
$thumbnail-box-shadow: 0 .625rem .125rem rgba($black, .075);
$close-text-shadow: 0 .625rem 0 $white;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175);
$popover-box-shadow: 0 .25rem .5rem rgba($black, .2);

$modal-content-box-shadow-xs: 0 3px 9px rgba($black, .5);
$modal-content-box-shadow-sm-up: 0 5px 15px rgba($black, .5);

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
