$local-family: "Proxima Nova";
$local-family-alternative: "ProximaNova";

$font-name-path: "proxima-nova";
$font-path: "#{$fonts-path}/#{$font-name-path}/#{$font-name-path}";

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: normal;
//   font-weight: 200;
//   font-display: auto;
//   src: local("#{$local-family} Thin"),
//        local("#{$local-family-alternative}-Thin"),
//        url("#{$font-path}-thin.woff2") format("woff2"),
//        url("#{$font-path}-thin.woff") format("woff");
// }

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: italic;
//   font-weight: 200;
//   font-display: auto;
//   src: local("#{$local-family} Thin Italic"),
//        local("#{$local-family-alternative}-ThinItalic"),
//        url("#{$font-path}-thin-italic.woff2") format("woff2"),
//        url("#{$font-path}-thin-italic.woff") format("woff");
// }

@font-face {
  font-family: "#{$local-family-alternative}";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: local("#{$local-family} Light"),
       local("#{$local-family-alternative}-Light"),
       url("#{$font-path}-light.woff2") format("woff2"),
       url("#{$font-path}-light.woff") format("woff");
}

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: italic;
//   font-weight: 300;
//   font-display: auto;
//   src: local("#{$local-family} Light Italic"),
//        local("#{$local-family-alternative}-LightItalic"),
//        url("#{$font-path}-light-italic.woff2") format("woff2"),
//        url("#{$font-path}-light-italic.woff") format("woff");
// }

@font-face {
  font-family: "#{$local-family-alternative}";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local("#{$local-family} Regular"),
       local("#{$local-family-alternative}-Regular"),
       url("#{$font-path}-normal.woff2") format("woff2"),
       url("#{$font-path}-normal.woff") format("woff");
}

@font-face {
  font-family: "#{$local-family-alternative}";
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: local("#{$local-family} Regular Italic"),
       local("#{$local-family-alternative}-RegularItalic"),
       url("#{$font-path}-normal-italic.woff2") format("woff2"),
       url("#{$font-path}-normal-italic.woff") format("woff");
}

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: normal;
//   font-weight: 500;
//   font-display: auto;
//   src: local("#{$local-family} Medium"),
//        local("#{$local-family-alternative}-Medium"),
//        url("#{$font-path}-medium.woff2") format("woff2"),
//        url("#{$font-path}-medium.woff") format("woff");
// }

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: italic;
//   font-weight: 500;
//   font-display: auto;
//   src: local("#{$local-family} Medium Italic"),
//        local("#{$local-family-alternative}-MediumItalic"),
//        url("#{$font-path}-medium-italic.woff2") format("woff2"),
//        url("#{$font-path}-medium-italic.woff") format("woff");
// }

@font-face {
  font-family: "#{$local-family-alternative}";
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: local("#{$local-family} Semibold"),
       local("#{$local-family-alternative}-Semibold"),
       url("#{$font-path}-semi-bold.woff2") format("woff2"),
       url("#{$font-path}-semi-bold.woff") format("woff");;
}

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: italic;
//   font-weight: 600;
//   font-display: auto;
//   src: local("#{$local-family} Semibold Italic"),
//        local("#{$local-family-alternative}-SemiboldItalic"),
//        url("#{$font-path}-semi-bold-italic.woff2") format("woff2"),
//        url("#{$font-path}-semi-bold-italic.woff") format("woff");
// }

@font-face {
  font-family: "#{$local-family-alternative}";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: local("#{$local-family} Bold"),
       local("#{$local-family-alternative}-Bold"),
       url("#{$font-path}-bold.woff2") format("woff2"),
       url("#{$font-path}-bold.woff") format("woff");
}

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: italic;
//   font-weight: 700;
//   font-display: auto;
//   src: local("#{$local-family} Bold Italic"),
//        local("#{$local-family-alternative}-BoldItalic"),
//        url("#{$font-path}-bold-italic.woff2") format("woff2"),
//        url("#{$font-path}-bold-italic.woff") format("woff");
// }

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: normal;
//   font-weight: 800;
//   font-display: auto;
//   src: local("#{$local-family} Extrabold"),
//        local("#{$local-family-alternative}-Extrabold"),
//        url("#{$font-path}-extra-bold.woff2") format("woff2"),
//        url("#{$font-path}-extra-bold.woff") format("woff");
// }

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: italic;
//   font-weight: 800;
//   font-display: auto;
//   src: local("#{$local-family} Extrabold Italic"),
//        local("#{$local-family-alternative}-ExtraboldItalic"),
//        url("#{$font-path}-extra-bold-italic.woff2") format("woff2"),
//        url("#{$font-path}-extra-bold-italic.woff") format("woff");
// }

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: normal;
//   font-weight: 900;
//   font-display: auto;
//   src: local("#{$local-family} Black"),
//        local("#{$local-family-alternative}-Black"),
//        url("#{$font-path}-black.woff2") format("woff2"),
//        url("#{$font-path}-black.woff") format("woff");
// }

// @font-face {
//   font-family: "#{$local-family-alternative}";
//   font-style: italic;
//   font-weight: 900;
//   font-display: auto;
//   src: local("#{$local-family} Black Italic"),
//        local("#{$local-family-alternative}-BlackItalic"),
//        url("#{$font-path}-black-italic.woff2") format("woff2"),
//        url("#{$font-path}-black-italic.woff") format("woff");
// }
