<breadcrumbs>
  <breadcrumb [link]="['/base']">База знаний</breadcrumb>
  <breadcrumb [link]="['./']">Книга Морелли</breadcrumb>
  <breadcrumb [link]="['./history']">История бренда</breadcrumb>
</breadcrumbs>

<router-outlet></router-outlet>
