@import "variables";
@import "extends";

:host {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: $grid-column-gap $grid-row-gap;

  specification-list {
    grid-column: span 5;
    grid-row: span 2;
  }

  h3 {
    grid-column: 7 / span 3;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 300;
  }

  figure {
    grid-column: 7 / span 3;
    padding: 2rem;
    background-color: $white;
    border: .1rem solid $silver;
    text-align: center;

    img {
      max-width: 100%;
    }

  }

}
