<div class="collections">

  <h2>Живопись</h2>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-2.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-2.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-2.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-2.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-2.jpg" alt="Коллекция">
  </a>

</div>

<div class="collections">

  <h2>Скульптура</h2>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-3.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-3.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-3.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-3.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-3.jpg" alt="Коллекция">
  </a>

</div>

<div class="collections">

  <h2>Посуда</h2>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-4.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-4.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-4.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-4.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-4.jpg" alt="Коллекция">
  </a>

</div>

<div class="collections">

  <h2>Предметы интерьера</h2>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-5.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-5.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-5.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-5.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-5.jpg" alt="Коллекция">
  </a>

</div>

<div class="collections">

  <h2>Предметы быта</h2>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-1.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-1.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-1.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-1.jpg" alt="Коллекция">
  </a>

  <a href [routerLink]="['/']">
    <img src="assets/dev/profile-modal-1.jpg" alt="Коллекция">
  </a>

</div>

<div class="collection">

  <h2>Кресло в стиле Модерн</h2>

  <span>Коллекция: Предметы интерьера</span>

  <figure>
    <img src="assets/dev/collections-chair.jpg" alt="Кресло в стиле Модерн">
  </figure>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  </p>

</div>
