@import "variables";

:host {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: $grid-row-gap 1rem;

  .collections {
    display: grid;
    // grid-template-columns: repeat(auto-fit, 7.25rem);
    grid-template-columns: repeat(5, 1fr);
    // grid-auto-rows: 7.25rem;
    grid-gap: 1rem 2rem;
    grid-column: span 5;
    padding: 2rem;
    background-color: $snow;

    h2 {
      grid-column: -1 / 1;
      margin-bottom: 0;
      font-size: 1.375rem;
      font-weight: 400;
    }

    a {

      &:hover {
        box-shadow: 0 0 1.25rem 0 rgba($black, .15);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

  }

  .collection {
    grid-row: 1 / 6;
    grid-column: 6 / span 3;

    h2 {
      margin-bottom: 0;
      font-size: 1.5625rem;
    }

    span,
    p {
      font-size: 0.9375rem;
    }

    span {
      display: inline-block;
      margin-bottom: 1.5rem;
      font-weight: 300;
    }

    span,
    figure {
      margin-bottom: 1.5rem;
    }

    figure {
      border: .1rem solid $silver;

      img {
        max-width: 100%;
      }

    }

  }

}
