@import "variables";
@import "mixins";

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;

  header {
    margin-bottom: 1.5rem;
    box-shadow: 0px 3px 8px -3px #e9e9e9;
  }

  footer {
    height: 4.625rem;
    padding-top: 1.5rem;

    p {
      @include container();
      font-size: .75rem;
      text-align: center;
    }

  }

}
