<dl>

  <dt>ФИО</dt>
  <dd>Безрукова Мария Владимировна</dd>

  <dt>Город</dt>
  <dd>Москва</dd>

  <dt>Магазин</dt>
  <dd>Дом дверей</dd>

</dl>

<dl>

  <dt>Очки опыта</dt>
  <dd>3560</dd>

  <dt>Уровень</dt>
  <dd>3</dd>

  <dt>Деньги</dt>
  <dd>1230</dd>

  <dt>Очки прогресса</dt>
  <dd>57</dd>

  <dt>Собранных коллекций</dt>
  <dd>2</dd>

  <dt>Всего игр сыграно</dt>
  <dd>16</dd>

</dl>

<figure>

  <img src="https://i.snag.gy/mPiw4N.jpg" alt="Выбранный корабль">

  <button type="button" (click)="open()"></button>

</figure>

<ship-settings-modal modal></ship-settings-modal>
