@import "variables";

:host {
  display: grid;
  grid-template-columns: 7fr 8fr;
  grid-gap: .6875rem $grid-column-gap;
  grid-template-areas: "user       ship"
                       "statistics ship";

  & > dl {
    grid-area: user;
  }

  & > dl,
  & > dl + dl {
    display: grid;
    grid-template-columns: 8fr 7fr;
    grid-column-gap: .5rem;
    padding: 1.15rem 2rem;
    background-color: $snow;

    & > * {
      display: block;
    }

    &,
    dd {
      margin-bottom: 0;
    }

    dt {
      font-size: 1.4rem;
      font-weight: 300;
    }

    dt,
    dd {
      display: flex;
      align-items: center;
      padding: .35rem 0;
    }

    dd {
      font-size: 1.6rem;
    }

  }

  & > dl + dl {
    grid-area: statistics;
  }

  & > figure {
    position: relative;
    grid-area: ship;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2.25rem;
      height: 2.25rem;
      background: url("/assets/icons/profile-gear.png") no-repeat;
      cursor: pointer;

      svg {

        path,
        path + path + path {
          fill: $white;
        }

        path + path {
          fill: lightblue;
        }

      }

    }

  }

}
