:host {

  dl {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-row-gap: 1rem;
    margin-bottom: 0;

    dt {
      font-size: 1.125rem;
      font-weight: 300;
    }

    dd {
      margin-bottom: 0;
      font-size: 1.375rem;

      span {
        font-size: 1.125rem;
      }

      b {
        font-weight: 700;
        border-bottom: .0625rem solid #b2b2b2;
      }

    }

  }

}
