<dl>

  <dt>Страна производства</dt>
  <dd>{{ specification.country }}</dd>

  <dt>Материал</dt>
  <dd>{{ specification.material }} <span>{{ specification.composition }}</span></dd>

  <dt>Цвет</dt>
  <dd>{{ specification.color }}</dd>

  <dt>Единица измерения</dt>
  <dd>{{ specification.quantity }} шт. в комплекте</dd>

  <dt>Наличие</dt>
  <dd>
    <b>
      <ng-template [ngIf]="specification.availability" [ngIfElse]="sold">на складе</ng-template>
      <ng-template #sold>нет в наличии</ng-template>
    </b>
  </dd>

</dl>
