@import "variables";
@import "extends";

:host {
  position: relative;
  display: block;
  border: solid .125rem $ghost-white;

  video {
    display: block;
    width: 100%;
  }

  button {
    @extend .button-reset;
    transform: translate(-50%, -50%);
    width: 7rem;
    height: 7rem;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 .5rem 0 rgba($black, .35);
    cursor: pointer;

    &,
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    svg {
      // line-height: 7rem;
      transform: translate(-30%, -50%);

      path {
        fill: #717171;
      }

    }

  }

}
