<video preload [controls]="!video.paused" #video (click)="playback()">
  <source [src]="mp4" type="video/mp4">
  <source [src]="ogg" type="video/ogg">
  Ваш браузер не поддерживает тэг video.
</video>

<button type="button" [hidden]="!video.paused" (click)="playback()">

  <svg width="21" height="40">
    <path d="M20.19 19.921L.453 39.693V.15L20.19 19.921z"/>
  </svg>

</button>
