<h1>История бренда &laquo;Морелли&raquo;</h1>

<p>
  <span>06.10.2018</span> <span>Николай Дубровинский / ведущий маркетолог</span>
</p>

<figure>

  <img src="assets/images/books.png" alt="Long Story">

</figure>

<div>

  <p>
    Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
  </p>

  <p>
    Таким образом реализация намеченных плановых заданий позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения форм развития.
  </p>

</div>

<ngx-carousel class="carousel" [inputs]="carousel">

  <button type="button" NgxCarouselPrev></button>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/morelli-book.jpg" alt="Достижения Morelli" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/morelli-book.jpg" alt="Достижения Morelli" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/morelli-book.jpg" alt="Достижения Morelli" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/morelli-book.jpg" alt="Достижения Morelli" [style.width.%]="100">
  </ngx-item>

  <ngx-item NgxCarouselItem>
    <img src="/assets/images/morelli-book.jpg" alt="Достижения Morelli" [style.width.%]="100">
  </ngx-item>

  <button type="button" NgxCarouselNext></button>

</ngx-carousel>

<div>

  <p>
    Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
  </p>

  <p>
    Таким образом реализация намеченных плановых заданий позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения форм развития.
  </p>

</div>

<player [mp4]="mp4" [ogg]="ogg"></player>

<div>

  <button type="button">Отметить как прочитанное</button>
  <a href routerLink="/">Перейти к игре по статье</a>

</div>

<hr>

<links></links>
