@import "variables";
@import "mixins";
@import "extends";

:host {

  h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }

  h1 + p,
  figure,
  figure + div,
  .carousel,
  .carousel + div {
    margin-bottom: 3.5rem;
  }

  h1 + p {
    text-align: center;

    span {
      font-size: 1rem;
      font-weight: 300;

      &:first-of-type {
        position: relative;
        color: $orange;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          display: inline-block;
          width: .125rem;
          height: .125rem;
          background-color: #bababa;
        }

        &::after {
          content: "\0000a0\0000a0";
        }

      }

    }

  }


  figure {

    img {
      max-width: 100%;
    }

  }

  p {
    font-size: 1.5rem;
  }

  ngx-carousel.carousel {
    @extend .ngx-carousel;
    border: solid .125rem $silver;
  }

  player {
    margin-bottom: 4rem;
  }

  player + div {
    margin-bottom: 5rem;
    text-align: center;

    button {
      margin-left: 0 !important;
      background-color: $ghost-white;
      color: $body-color;
      font-weight: 400;
    }

    button,
    a {
      display: inline-block;
      width: 19rem;
      padding: 1.5rem 0;
      margin: 0 1rem;
      font-size: 1.25rem;
      border-radius: $border-radius-lg;
    }

    a {
      @extend .button-accent;
      margin-right: 0;
      text-align: center;
    }

  }

  hr {
    margin-bottom: 5rem;
    border-bottom-color: $white-smoke;
  }

}
