<header>
  <div class="tab" *ngFor="let tab of tabs" [class.active]="tab.active">

    <button type="button" *ngIf="!tab.link; else link" (click)="select(tab)">{{ tab.heading }}</button>

    <ng-template #link>
      <a href [routerLink]="tab.link">{{ tab.heading }}</a>
    </ng-template>

  </div>
</header>

<ng-content></ng-content>
