@import "variables";
@import "extends";

:host {
  display: grid;

  header {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-self: center;
    margin-bottom: 2rem;

    &::-webkit-scrollbar {
      height: .25rem;
    }

    &::-webkit-scrollbar-track {
      background-color: #fafafa;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $ghost-white;
      border-radius: $border-radius-lg;
      outline: .0625rem solid $ghost-white;
    }

    .tab {
      display: flex;
      align-items: stretch;
      flex: 1;
      height: 3rem;
      padding: 0 .5rem;
      border-bottom: 1px solid $nobel;

      &:first-child {
        padding-left: 0;

        button,
        a {
          padding-left: 2.125rem;
        }

      }

      &:last-child {
        padding-right: 0;

        button,
        a {
          padding-right: 2.125rem;
        }

      }

      &.active button {
        font-weight: normal;
        border-bottom: 3px solid $orange;
      }

      button {
        @extend .button-reset;
        cursor: pointer;
      }

      button,
      a {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0 1.6875rem;
        margin-bottom: -.0625rem;
        font-size: 1.375rem;
        font-weight: 300;
        white-space: nowrap;
      }

      a:hover {
        color: $body-color;
      }

    }

  }

}
