@import "variables";
@import "mixins";
@import "extends";

:host {
  display: grid;
  grid-template-rows: 3rem;
  padding-top: 3rem;
  padding-bottom: 4.5rem;

  .breadcrumbs-container {
    @include container-responsive();
  }

  .shadow-container {
    @include container-shadow();

    .shadow {
      @extend .shadow-box;
      margin-bottom: 3rem;

      .shadow-content-container {
        @include container-shadow-content();
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 2rem 1rem;

        header {
          grid-column: 1 / -1;

          h1 {
            margin-bottom: 0;
            font-size: 1.6875rem;

            span {
              text-transform: uppercase;
            }

          }

        }

        .gallery {
          display: grid;
          grid-template: repeat(4, minmax(7.5rem, 1fr)) / 7.5rem 1fr;
          grid-gap: $grid-row-gap $grid-column-gap;

          & > figure {
            display: flex;
            align-items: center;
            grid-row: 1 / span 4;
            grid-column: 2;
            padding: 3.5rem;
          }

          button.preview {
            position: relative;
            grid-column: 1;

            figure {
              position: absolute;
              top: 0;
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;
              padding: .5rem;
            }

          }

        }

        .gallery,
        .description {
          grid-column: span 5;

          button {
            @extend .button-reset;
            cursor: pointer;
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }

        }

        .gallery figure,
        .description figure.color-options > button {
          background: $white;
          border: .1rem solid $silver;
        }

        .description {
          display: grid;
          grid-template-columns: repeat(3, minmax(7rem, 11.5rem)) 1fr;
          grid-column-gap: 1.5rem;
          grid-auto-rows: min-content;
          padding: 1rem 2rem;
          background-color: $snow;

          .price {
            margin-bottom: 1rem;
            color: $orange;
            font-size: 2.1875rem;
            font-weight: 700;
          }

          .price,
          h2 {
            grid-column: 1 / -1;
          }

          h2 {
            font-size: 1.125rem;
            font-weight: 300;
          }

          figure.color-options {
            margin-bottom: 2rem;

            & > button {
              min-width: 100%;
              min-height: 5rem;
              padding: 1rem .5rem;
            }

            figcaption {
              font-size: 0;
              line-height: 1;
              white-space: pre;

              button {
                font-size: .875rem;
                font-weight: 300;

                &:first-child {
                  padding: .75rem 0 .125rem;
                }

                &:last-child {
                  padding-top: .125rem;
                }

              }

            }

          }

          specification-list {
            grid-column: span 4;
          }

        }

      }

    }

  }

  .tabs-container {
    @include container-responsive();

    ::ng-deep tabs header {
      justify-self: auto;
    }

  }

}
