<div class="breadcrumbs-container">

  <breadcrumbs>
    <breadcrumb [link]="['/catalog']">Каталог</breadcrumb>
    <breadcrumb [link]="['./']">{{ category }}</breadcrumb>
    <breadcrumb>{{ name }}</breadcrumb>
  </breadcrumbs>

</div>

<div class="shadow-container">
  <div class="shadow">
    <section class="shadow-content-container">

      <header>
        <h1>{{ category }} <span>Morelli Luxury {{ name }}</span></h1>
        <span>Артикул: {{ name }}</span>
      </header>

      <section class="gallery">

        <figure>
          <img src="assets/dev/handle-bronze.jpg" alt="name">
        </figure>

        <button type="button" class="preview" (click)="view(0)">
          <figure>
            <img src="assets/dev/handle-bronze.jpg" alt="name">
          </figure>
        </button>

        <button type="button" class="preview" (click)="view(1)">
          <figure>
            <img src="assets/dev/handle-bronze.jpg" alt="name">
          </figure>
        </button>

        <button type="button" class="preview" (click)="view(2)">
          <figure>
            <img src="assets/dev/handle-bronze.jpg" alt="name">
          </figure>
        </button>

        <button type="button" class="preview" (click)="view(3)">
          <figure>
            <img src="assets/dev/handle-bronze.jpg" alt="name">
          </figure>
        </button>

      </section>

      <section class="description">

        <span class="price">990 р.</span>

        <h2>Этот товар другого цвета</h2>

        <figure class="color-options">
          <button type="button">
            <img src="assets/dev/handle-silver.jpg" alt="name">
          </button>
          <figcaption>
            <button type="button">белый никель</button>
            <button type="button">MH-01 SN</button>
          </figcaption>
        </figure>

        <figure class="color-options">
          <button type="button">
            <img src="assets/dev/handle-silver.jpg" alt="name">
          </button>
          <figcaption>
            <button type="button">матовое золото</button>
            <button type="button">MH-01 SG</button>
          </figcaption>
        </figure>

        <figure class="color-options">
          <button type="button">
            <img src="assets/dev/handle-silver.jpg" alt="name">
          </button>
          <figcaption>
            <button type="button">античная бронза</button>
            <button type="button">MH-01 AB</button>
          </figcaption>
        </figure>

        <specification-list [specification]="specification"></specification-list>

      </section>

    </section><!-- /.shadow-content-container -->
  </div><!-- /.shadow -->
</div><!-- /.shadow-container -->

<div class="tabs-container">

  <tabs>
    <tab heading="Описание">
      <description [description]="description"></description>
    </tab>

    <tab heading="Характеристики">
      <specification [specification]="specification"></specification>
    </tab>

    <tab heading="Комплектация">
      Комплектация
    </tab>

    <tab heading="Дизайн">
      <design></design>
    </tab>

    <tab heading="Установка">
      <installation [instruction]="instruction"></installation>
    </tab>

    <tab heading="Комментарии">
      <comments [comments]="comments"></comments>
    </tab>
  </tabs>

</div>

