@import "variables";

:host {

  &::ng-deep breadcrumb {
    margin: 0 .5rem;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 0.375rem;
      height: 0.5rem;
      margin-left: .5rem;
      background-image: url("/assets/icons/breadcrumbs-arrow.png");
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;

      a {
        font-weight: 600;
      }

    }

  }

}
