<h1>Профиль игрока</h1>

<div class="shadow-container">
  <div class="shadow">
    <div class="shadow-content-container">

      <tabs (selected)="selected = $event">

        <tab heading="Статистика">
          <statistics></statistics>
        </tab>

        <tab heading="Публичный профиль">
          <profile></profile>
        </tab>

        <tab heading="Коллекции">
          <collections></collections>
        </tab>

      </tabs>

    </div><!-- /.shadow-content-container -->
  </div><!-- /.shadow -->

  <div class="shadow-content-container">
    <collected *ngIf="collections"></collected>
  </div>

</div><!-- /.shadow-container -->
