@import "variables";
@import "mixins";
@import "extends";

:host {
  display: grid;
  grid-template-rows: 8rem;
  min-height: 100%;

  h1 {
    @include container-responsive();
    align-self: center;
    color: $dark-gray;
    font-size: 1.6875rem;
    text-align: center;
  }

  .shadow-container {
    @include container-shadow();

    .shadow {
      @extend .shadow-box;
      margin-bottom: 4rem;

      .shadow-content-container {
        @include container-shadow-content();
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-column-gap: $grid-column-gap;

        tabs {
          grid-column: 2 / -2;
          margin: 0 -2rem;
        }

      }

      & > .shadow-content-container {
        @include container-shadow-content();
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-column-gap: $grid-column-gap;

        collected {
        }

      }


    }

  }


}
