<dl>

  <dt>Очки опыта</dt>
  <dd>

    <div>

      <div>
        <div [style.width.%]="3560 / 5300 * 100" [attr.data-progress]="3560"></div>
      </div>

      <span>5300</span>

    </div>

  </dd>

  <dt>Очки прогресса</dt>
  <dd>

    <div>

      <div>
        <div [style.width.%]="356 / 730 * 100" [attr.data-progress]="356"></div>
      </div>

      <span>730</span>

    </div>

  </dd>

  <dt>Уровень</dt>
  <dd>3</dd>

  <dt>Деньги</dt>
  <dd>1230</dd>

  <dt>Собранных коллекций</dt>
  <dd>2</dd>

  <dt>Всего игр сыграно</dt>
  <dd>16</dd>

  <dt>Идеально сыграно</dt>
  <dd>4</dd>

</dl>
