@import "variables";

:host {

  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &,
    dt,
    dd {
      margin-bottom: 0;
    }

    dt {
      position: relative;
      padding-left: 9.6875rem;
      font-weight: 400;

      &::before {
        content: "\2022";
        width: 1.4375rem;
        margin-top: -.3125rem;
        margin-left: -1.4375rem;
        color: $orange;
        font-size: 2.4rem;
        line-height: 0;
      }

    }

    dt,
    dd {
      display: flex;
      align-items: center;
      height: 5rem;
      font-size: 1.4rem;

      &:nth-of-type(odd) {
        background-color: $snow;
      }

    }

    dd {
      padding-right: 9.6875rem;

      & > div {
        display: flex;
        align-items: baseline;
        flex: 1;

        & > div {
          flex-basis: 85%;
          width: 100%;
          margin-bottom: 1.0625rem + .375rem;
          margin-right: .40625rem;
          background-color: $white-smoke;
          box-shadow: 0 .375rem .375rem #d9d9d9 inset;

          &,
          div {
            height: 1.0625rem;
            border-radius: .5rem;
          }

          div {
            position: relative;
            background-color: $orange;
            background-image: repeating-linear-gradient(
              -45deg,
              transparent,
              transparent 6px,
              rgba(255, 255, 255, .2) 6px,
              rgba(255, 255, 255, .2) 8px
            ); // 0 1.5px 1.5px 2.25px

            &::after {
              content: attr(data-progress);
              position: absolute;
              top: 1.0625rem + .375rem;
              right: 0;
              transform: translate(50%, 0%);
              height: 1.25rem;
              padding: 0 .5rem;
              border-radius: $border-radius;
              font-size: 1.1rem;
              line-height: 1.25rem;
            }

          }

        }

        span {
          margin-left: .40625rem;
        }

      }

    }

  }

}
