/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "styles/fonts/fonts";

html,
body {
  height: 100%;
}

body {
  background: $body-bg;
  color: $body-color;
  font-family: $font-family;

  &.overlay {
    overflow: hidden;
    padding-right: 17px;
  }

  div.backdrop {
    z-index: $zindex-modal-backdrop;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    opacity: 0;
    transition: $transition-fade;

    &.show {
      opacity: .3;
    }

  }

  :focus {
    outline: $focus-outline;
  }

  h1 {
    font-size: $h1-font-size;
  }

  hr {
    margin: 0;
    border: none;
    border-bottom-width: .0625rem;
    border-bottom-style: solid;
  }

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

  }

  a,
  button {
    transition: $transition-base;
    transition-property: background-color, color;

    & > svg {
      pointer-events: none;
    }

  }

  button {
    background: transparent;
    border: none;

    &:disabled {
      opacity: .65;
    }

    // &:hover { }

    // &:active { }

  }

  small {
    font-size: $small-font-size;
  }

  mark {
    padding: $mark-padding;
    background-color: $mark-bg;
  }

  form {

    input {
      padding-left: .5rem;
      padding-right: .5rem;
      color: $input-color;

      &:active,
      &:focus {

        &::placeholder {
          visibility: hidden;
        }

      }


    }

    input,
    textarea {

      &.ng-touched {

        &.ng-valid {

          // &:focus {
          //   border-color: green !important;
          // }

        }

        &.ng-invalid {
          border-width: .0625rem;
          border-style: solid !important;
          border-color: $input-invalid-border-color !important;
        }

      }

    }

    textarea {
      padding-left: .5rem;
      padding-right: .5rem;
    }

    select {
      padding: .125rem 1.75rem .125rem .5rem;
      background-color: $white;
      background-image: url("/assets/icons/dropdown-arrow.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 12px) 50%;
      border: none;
      border-radius: $border-radius-lg;
      appearance: none;
    }
  }

  figure {
    margin-bottom: 0;
  }

}

