<a href class="production" routerLink="production">
  <h1>Продукция</h1>

  <p>Ручки, замки, петли, раздвижные системы</p>
</a>

<a href class="design" routerLink="design">
  <h1>Дизайн и искусство</h1>

  <p>Стили, направления, искусство, эпохи</p>
</a>

<a href class="book" routerLink="base/book">
  <h1>Книга Morelli</h1>

  <p>История, ценности, публикации и статьи</p>
</a>

<a href class="sales" routerLink="sales">
  <h1>Искусство продаж</h1>

  <p>Руководства, тренинги, учебные материалы</p>
</a>

<links></links>
