@import "variables";
@import "mixins";

:host {
  @include container();

  // display: grid;
  // grid-template: repeat(2, 20rem) auto / repeat(2, 1fr);
  // grid-gap: 1.5rem;
  padding-bottom: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > a {
    overflow: hidden;
    padding: 6.25rem 2.75rem 2.125rem;

    // padding-left: 56.75%;

    padding-left: 28.375%;

    background-color: $ghost-white;
    background-repeat: no-repeat;
    background-size: 80%;

    flex: 0 1 calc(50% - .75rem);
    height: 20rem;
    margin-bottom: 1.5rem;

    &:hover {
      color: inherit;
      filter: brightness(97%);
    }

    &.production {
      background-image: url("/assets/images/handle.png");
      background-position: 0% 50%;
      background-size: 65%;
    }

    &.design {
      background-image: url("/assets/images/statue.png");
      background-position: 0% 100%;
    }

    &.book {
      background-image: url("/assets/images/book.png");
      background-position: 0% 50%;
    }

    &.sales {
      background-image: url("/assets/images/business.png");
      background-position: 0% 50%;
    }

    h1 {
      font-size: 1.875rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      font-size: .9375rem;
      font-weight: 300;
    }

  }

  links {

    // grid-column: 1 / 3;

    flex: 100%;

  }

}
