<div>

  <h1>Коллекция: Предметы интерьера</h1>

  <img src="assets/dev/profile-modal-1.jpg" alt="Предмет">
  <img src="assets/dev/profile-modal-2.jpg" alt="Предмет">
  <img src="assets/dev/profile-modal-3.jpg" alt="Предмет">
  <img src="assets/dev/profile-modal-4.jpg" alt="Предмет">
  <img src="assets/dev/profile-modal-5.jpg" alt="Предмет">

  <hr>

  <h2>Кресло в стиле Модерн</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>

  <button type="button" #dismiss></button>

</div>
