@import "variables";
@import "extends";
@import "mixins";

:host {
  @include container();
  @extend .modal;

  div {
    grid-template: 4rem / repeat(5, 1fr);
    grid-column: 4 / span 6;
    padding: 2rem 2rem 5rem;

    h1,
    hr,
    h2,
    p {
      grid-column: 1 / -1;
    }

    h1 {
      justify-self: center;
    }

    h1,
    h2 {
      font-size: 1.375rem;
    }

    h2 {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      margin-bottom: 1rem;
    }

    hr {
      margin-top: .5rem;
      border-bottom-color: #e8e8e8;
    }

    p {
      color: $dark-gray;
      font-size: .9375rem;
    }

    button {
      @extend .button-reset;
      position: absolute;
      top: 2.5rem;
      right: 2rem;
      width: 1.125rem;
      height: 1.125rem;
      background: url("/assets/icons/profile-modal-close.png") no-repeat;
      cursor: pointer;
    }

  }

}
