<div class="user">
  <img [src]="comment.avatar" [alt]="comment.name">

  <div>

    <div class="info">
      <span>{{ comment.name }}</span>
      <time>{{ comment.date }}</time>
      <time>{{ comment.time }}</time>
    </div>

    <div class="likes">
      <button>{{ comment.like }}</button>
      <button>{{ comment.dislike }}</button>
    </div>

  </div>
</div>

<div class="comment">
  <h4>{{ comment.heading }}</h4>

  <p>
    {{ comment.message }}
  </p>
</div>
