@import "variables";
@import "extends";

:host {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 2rem;
  padding: 4rem 0 3.5rem;

  .user {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    align-self: flex-start;

    img {
      grid-column: span;
      max-width: 100%;
      border-radius: 50%;
    }

    & > div {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-column: span 2;
      align-self: center;
      padding-left: 1.5rem;
      font-size: 0;

      .info {
        align-content: flex-end;

        span {
          color: #333;
          font-size: 1.375rem;
          font-weight: 700;
        }

        time {
          margin-right: 1.25rem;
          color: $dark-gray;
          font-size: 1.125rem;
          font-weight: 300;

          & + time {
            margin-right: 0;
          }

        }

      }

      .info,
      .likes {
        display: flex;
        flex-wrap: wrap;
      }

      .likes {
        align-content: center;

        button {
          @extend .button-reset;
          font-size: 1rem;
          font-weight: 700;
          cursor: pointer;

          &::before {
            content: '';
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            margin-right: .5rem;
            background-repeat: no-repeat;
          }

          &:first-of-type {
            margin-right: 1rem;

            &::before {
              background-image: url('/assets/icons/comment-like.png');
            }

          }

          &:last-of-type::before {
            background-image: url('/assets/icons/comment-dislike.png');
          }
        }

      }

    }

  }

  .comment {
    grid-column: span 7;

    h4 {
      margin-bottom: 1.5rem;
      color: #333;
      font-size: 1.5625rem;
    }

    p {
      font-size: 1.25rem;
    }

  }

}
