<breadcrumbs>
  <breadcrumb [link]="['/base']">База знаний</breadcrumb>
</breadcrumbs>

<h1>База знаний</h1>

<tabs>

  <tab heading="Продукция">
    <production></production>
  </tab>

  <tab heading="Дизайн и искусство">
    Дизайн и искусство
  </tab>

  <tab [link]="['./book']" heading="Книга Морелли"></tab>

  <tab heading="Искусство">
    Искусство
  </tab>

</tabs>
