@import "variables";
@import "mixins";

:host {
  @include container-responsive();
  display: grid;
  grid-template-rows: 3rem;
  // min-height: 100%;
  padding-top: 3rem;
  padding-bottom: 7rem;

  h1 {
    justify-self: center;
    font-size: 2.25rem;
    font-weight: 400;
  }

}
